@{
    ViewBag.Title = "Nghia Selling PHONE";
}
<main aria-labelledby="PHONEEEE">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Here is a web to create edit and check Goods</p>
</main>