@{
    ViewBag.Title = "TRONGNGHIA";
}
<main aria-labelledby="contact">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        PHONE SELLING NGHIA<br />
        BINH tan 26/43/52 VietNam<br />
        <abbr title="Phone">P:</abbr>
        0393543005

    </address>

    <address>
        <strong>Founder:</strong>   <a href="https://www.facebook.com/nghia.phamtrongnghia.940/friends">https://www.facebook.com/nghia.phamtrongnghia.940/friends</a><br />
        <strong>CoFounder:</strong> <a href="mailto:Marketing@example.com">https://www.facebook.com/MrPage132</a>
    </address>
</main>