
@{
    ViewBag.Title = "Goods";

}

<h2>Goods</h2>

<p>Hello World</p>

<div>
    <div>
        @Html.ActionLink("Goods here", "Index", "Products")
    </div>
</div>

<style>
    *{
        font-size: 30px;
        color: deeppink;
    }
</style>