@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Nghia Phone</h1>
        <p class="lead">Nghia is Selling Phone</p>
        <p><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-primary btn-md">Entertainment &raquo;</a></p>
    </section>

    <div class="row">
        <section >
          
            <p>
                NghiaSellingPhone is a website dedicated to providing customers with a wide variety of high-quality mobile phones at competitive prices. The website offers an extensive selection of smartphones from the most popular brands, including Apple, Samsung, Xiaomi, Huawei, and more. Customers can browse the website's product catalog to find the latest smartphones with various features, such as high-quality cameras, fast processors, and long-lasting batteries.
            </p>
        </section>
        <section >
            
            <p>he website is designed to be user-friendly, with a clean and intuitive layout that makes it easy to navigate and find the perfect phone. Customers can sort phones by brand, price, operating system, and other categories to find the right product that suits their needs and budget. The website also provides detailed product descriptions and specifications, along with reviews and ratings from previous buyers to help customers make informed decisions.</p>
        </section>
        <section>
            
            <p>NghiaSellingPhone is committed to providing excellent customer service and support, with a team of knowledgeable and friendly representatives available to answer any questions and provide assistance throughout the buying process. The website offers secure payment options, fast shipping, and a hassle-free return policy to ensure a seamless and enjoyable shopping experience for all customers..</p>
       </section>
    </div>
</main>