
@{
    ViewBag.Title = "creater";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<h2></h2>
<style>
    h1 {
        font-size: 36px;
        font-weight: bold;
        color: #333;
        text-align: center;
        margin: 20px 0;
    }
</style>
<h1>Login Successful</h1>
<h1>@Html.ActionLink("Click here to countine", "Index", "Home")</h1>    
